.kangbao_show(data-module="kangbao_show")
  .screen.screen1
    .background(style="background-image:url(" + result[db][collection].url + ")")
      .mask
    .content
      .kangbao-info
        p 康保
        p 06/27
      .self-desc= "我是" + result[db][collection].name + "，岗位" + result[db][collection].no
      .bg
      .at-kangbao
      .scroll-up.scroll-up-white
  .screen.screen2
    .background(data-scale="width")
    .content
      .scroll-up.scroll-up-orange
  .screen.screen4
    .background
      .photo-big.photo1
      .photo-small.photo2
      .photo-small.photo3
      .photo-big.photo4(style="background-image:url(" + result[db][collection].url + ")")
      .photo-big.photo5
      .photo-small.photo6
      .mid-text
      .photo7
    .content
      .scroll-up.scroll-up-white
  .screen.screen3
    .background
      .daka-title
      .daka.daka1
        .daka-name
      .daka.daka2
        .daka-name
      .daka.daka3
        .daka-name
      .daka.daka4
        .daka-name
      .daka.daka5
        .daka-name
    .content
      .scroll-up.scroll-up-white
  .screen.screen5.touchex
    .content
      .pic
      .title 第一反应
      p.p1
        span.num 30,000
        span.desc 小时急救知识培训
      p.p2
        span.num 67
        span.desc 场赛事救援
      p.p3
        span.num 3
        span.desc 例“猝死”成功施救
    .share-panel.touchex
      .btns
        a.btn-replay
        a.btn-share
    .background.hide
      .share-mask.touchex