extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="/dist/css/api/user.a0f5d72c158f7b03.css")

block append headjs
  script(type="text/javascript",src="/dist/js/api/common.min.1395639542966ac5.js")

block append body
  div 主内容

block append footjs
  script(type="text/javascript",src="/dist/js/api/user.min.7559aa5bfcd54b52.js")