extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="http://" + __global.base.static + "/dist/css/m/kangbao_show.1e3f57e95f7bac9b.css")

block append headjs
  script(type="text/javascript",src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js")
  script(type="text/javascript",src="http://" + __global.base.static + "/dist/js/m/common.min.00b5cb4456bbbfe1.js")
  include ../../../../modules/beima_baidu_tongji/index

block append body
  include ../../../../modules/kangbao_show/index
  //- include ../../../../modules/weixin_uploadimg/index

block append footjs
  script(type="text/javascript",src="http://" + __global.base.static + "/dist/js/m/kangbao_show.min.7d5abbbea8ea28c2.js")