.beima_signup_form
  margin:0 2em
  display:block
  .form-input-item
    position:relative
    height:43px
    border:1px solid #c1c1c1
    border-radius:5px
    margin-top:5px
    line-height:43px
    &.focus
      border-color:$themeColor
    label
      position:absolute
      top:0
      left:10px
    input
      position:absolute
      top:0
      left:4em
      display:block
      margin:0
      height:43px
      font-size:1em
      border:0 none
      background:transparent
      color:$textColor
  .qualification
    margin-top:10px
    position:relative
    >label
      position:absolute
      top:0
      left:0
    ul
      margin-left:6em
      li
        margin-bottom:10px
        input[type="radio"]
          margin-right:10px
        input[type="text"]
          width: 100px
          margin-left: 10px
          border-radius: 3px
          border: 1px solid #c1c1c1
          padding:5px
          &:focus
            border-color:$themeColor
  button
    margin-top:10px
    display:block
    height:43px
    border-radius:5px
    background:$themeColor
    line-height:40px
    font-size:1em
    width:100%
    color:white
    &:active
      background:lighten($themeColor,30%)