extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="http://" + __global.base.static + "/dist/css/m/m_intro.895dffdf7a988d8d.css")

block append headjs
  script(type="text/javascript",src="http://" + __global.base.static + "/dist/js/m/common.min.f77f82bec26c08a2.js")
  include ../../../../modules/beima_baidu_tongji/index

block append body
  include ../../../../modules/beima_intro_cover/index
  include ../../../../modules/beima_intro_content/index

block append footjs
<<<<<<< HEAD
  script(type="text/javascript",src="http://" + __global.base.static + "/dist/js/m/m_intro.min.f9ee61cbc1312f10.js")
=======
  script(type="text/javascript",src="http://" + __global.base.static + "/dist/js/m/m_intro.min.c1416a9a7f5b8e7f.js")
>>>>>>> 32fb225c649935c13c944d5a7aa39cd5fff95833
