@import '../../common'
@import '../../../../modules/beima_intro_cover/index.styl'
@import '../../../../modules/beima_intro_content/index.styl'
@import '../../../../modules/beima_bottom_qrcode/index.styl'
