extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="/dist/css/api/sos.1234567890abcdef.css")

block append headjs
  script(type="text/javascript",src="/dist/js/api/common.min.1234567890abcdef.js")

block append body
  div 主内容

block append footjs
  script(type="text/javascript",src="/dist/js/api/sos.min.1234567890abcdef.js")