extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="/dist/css/api/sos.a0f5d72c158f7b03.css")

block append headjs
  script(type="text/javascript",src="/dist/js/api/common.min.c764f1a301c009f7.js")

block append body
  div 主内容

block append footjs
  script(type="text/javascript",src="/dist/js/api/sos.min.f87351cb0c33790f.js")