.manage_schema_item(data-module="manage_schema_item", data-form-control="schemalist")
  if result.data
    - var data = result.data[result.db][result.collection];
  .schema-list(data-fields=(data ? JSON.stringify(data.fields) : ''),data-controls=(result.controls ? JSON.stringify(result.controls):''))
  .form-group
    button.btn.btn-default.add-item 增加
    | 
    button.btn.btn-default.del-item 删除