.form-group
  .row.field-item
    - var yesorno = {no:'否',yes:'是'}
    .col-xs-2
      label 字段名
      input.form-control(type="text",name="field_name",value=(field ? field.name : ''))
    .col-xs-2
      label 别名
      input.form-control(type="text",name="field_alias",value=(field ? field.alias : ''))
    .col-xs-2
      label 类型
      select.form-control(type="text",name="field_type")
        each control in controls
          option(value=control._id,selected=((field && field.type === control._id) || (!field && control.name === 'input')))= control.name
    .col-xs-1
      label 索引
      select.form-control(type="text",name="field_index")
        - var indexTypes = {no:'否',yes:'是',unique:'唯一索引'}
        each title,value in indexTypes
          option(value=value,selected=(field && field.index === value))= title
    .col-xs-1
      label 显示
      select.form-control(type="text",name="field_display")
        each title,value in yesorno
          option(value=value,selected=(field && field.display === value))= title
    .col-xs-1
      label 必填
      select.form-control(type="text",name="field_required")
        each title,value in yesorno
          option(value=value,selected=(field && field.required === value))= title
    .col-xs-1
      label 默认值
      input.form-control(type="text",name="field_defaults",value=(field ? field.defaults : ''))