extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="/dist/css/m/index.1234567890abcdef.css")

block append headjs
  script(type="text/javascript",src="/dist/js/m/common.min.1234567890abcdef.js")

block append body
  div 我是N优惠的移动站点

block append footjs
  script(type="text/javascript",src="/dist/js/m/index.min.1234567890abcdef.js")