extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="/dist/css/m/index.a0f5d72c158f7b03.css")

block append headjs
  script(type="text/javascript",src="/dist/js/m/common.min.65bac6be7af4cb1a.js")

block append body
  div 我是N优惠的移动站点

block append footjs
  script(type="text/javascript",src="/dist/js/m/index.min.c38a169e8db5c41a.js")