extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="/dist/css/www/index.4631989a1eb2deb2.css")

block append headjs
  script(type="text/javascript",src="/dist/js/www/common.min.00e51edd810f3793.js")

block append body
  div N优惠要来喽~~

block append footjs
  script(type="text/javascript",src="/dist/js/www/index.min.9f2a48b00a50c65c.js")