extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="/dist/css/www/index.1234567890abcdef.css")

block append headjs
  script(type="text/javascript",src="/dist/js/www/common.min.1234567890abcdef.js")

block append body
  div N优惠要来喽~~

block append footjs
  script(type="text/javascript",src="/dist/js/www/index.min.1234567890abcdef.js")