extends ../../layouts/index

block append title

block append meta

block append stylesheet

block append headjs

block append content
  // Main content
  section.content
    form(role="form",data-module="manage_form",data-db='nyouhui',data-collection='task')
      div
        if data.data && data.data._id
          +manage_ctrl_input({
            name:'_id',
            type:'hidden',
            value:(data.data ? data.data._id + '' : '')
          })
        +manage_ctrl_input({
          label:'任务',
          name:'task',
          value:tasks[0].id
        })
      +manage_box({
        title:'表定义'
      })
      .form-group
        button.btn.btn-primary.btn-schema-add(type="submit") 确定
        | 
        a.btn.btn-default.btn-cancel 取消

block append footjs
  script(type="text/javascript",src="//static.nyouhui.com/dist/js/manage/crud.min.073c3b4a6575a1ad.js")