extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="http://" + __global.base.static + "/dist/css/m/m_article.3903315cb5985a6b.css")

block append headjs
  script(type="text/javascript",src="http://" + __global.base.static + "/dist/js/m/common.min.00b5cb4456bbbfe1.js")

block append body
  include ../../../../modules/firstre_event_activity/index

block append footjs
  script(type="text/javascript",src="/dist/js/m/m_article.min.9e6066d5ea0823e2.js")
