extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="http://" + __global.base.static + "/dist/css/m/m_article.2fd0791e0385e606.css")

block append headjs
  script(type="text/javascript",src="http://" + __global.base.static + "/dist/js/m/common.min.2bb43a5687df8216.js")

block append body
  include ../../../../modules/firstre_event_activity/index

block append footjs
  script(type="text/javascript",src="/dist/js/m/m_article.min.01bed0d64030ba50.js")
