extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="/dist/css/api/index.a0f5d72c158f7b03.css")

block append headjs
  script(type="text/javascript",src="/dist/js/api/common.min.df77f8f7007ca0ca.js")

block append body
  div 主内容

block append footjs
  script(type="text/javascript",src="/dist/js/api/index.min.2bd6374377616459.js")