doctype html
html
  head
    link(href='', rel='shortcut icon')
    block title
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    block meta
    // jQueryUI
    link(href='/css/jqueryui.min.css', rel='stylesheet', type='text/css')
    // Bootstrap 3.3.2
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    // Font Awesome Icons
    link(href='/css/fontawesome.min.css', rel='stylesheet', type='text/css')
    // Ionicons 2.0.0
    link(href='/css/ionicons.min.css', rel='stylesheet', type='text/css')
    // Theme style
    link(href='/css/AdminLTE.min.css', rel='stylesheet', type='text/css')
    //
      AdminLTE Skins. Choose a skin from the css/skins
      folder instead of downloading all of them to reduce the load.
    link(href='/css/skins/_all-skins.min.css', rel='stylesheet', type='text/css')
    // iCheck
    link(href='/plugins/iCheck/flat/blue.css', rel='stylesheet', type='text/css')
    // Morris chart
    link(href='/plugins/morris/morris.css', rel='stylesheet', type='text/css')
    // jvectormap
    link(href='/plugins/jvectormap/jquery-jvectormap-1.2.2.css', rel='stylesheet', type='text/css')
    // Date Picker
    link(href='/plugins/datepicker/datepicker3.css', rel='stylesheet', type='text/css')
    // Daterange picker
    link(href='/plugins/daterangepicker/daterangepicker-bs3.css', rel='stylesheet', type='text/css')
    // bootstrap wysihtml5 - text editor
    link(href='/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css', rel='stylesheet', type='text/css')
    // tagsinput
    link(href='/plugins/tagsinput/tagsinput.css', rel='stylesheet', type='text/css')
    link(href='/plugins/wizard/wizard.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
    block stylesheet
    style.
      td{
        word-break:break-all;
        min-width:70px
      }
    // jQuery 2.1.3
    script(src='/plugins/jQuery/jQuery-2.1.3.min.js')
    script!= 'var __global = ' + JSON.stringify(__global)
    script!= 'window.domain = "' + __env.DOMAIN + '"'
    block headjs
  body
    svg#svg(style="position:fixed;left:0;top:0;width:100%;z-index:9999;pointer-events:none;")
    script.
      $('body').addClass('skin-blue');
      $(function(){
        $('#svg').height($(window).height());
      });
    .wrapper
      include ../../../modules/manage_header/index
      include ../../../modules/manage_sidebar/index
      include ../../../modules/manage_content_header/index
      include ../../../modules/manage_ctrl_input/index
      include ../../../modules/manage_box/index
      include ../../../modules/manage_table/index
      include ../../../modules/manage_ctrl_tagsinput/index
      include ../../../modules/manage_ctrl_wizard/index
      include ../../../modules/manage_ctrl_select/index
      include ../../../modules/manage_ctrl_checkbox/index
      include ../../../modules/manage_ctrl_textarea/index
      include ../../../modules/manage_ctrl_editor/index
      include ../../../modules/manage_ctrl_draggableselector/index

      //socket
      include ../../../modules/socket/index
      include ../../../modules/manage_tasksocket/index
      .content-wrapper
        include ../../../modules/manage_breadcrumb/index
        block content
    block footer
    // jQuery UI 1.11.2
    script(src='/plugins/jQueryUI/jquery-ui-1.10.3.min.js', type='text/javascript')
    // Bootstrap 3.3.2 JS
    script(src='/bootstrap/js/bootstrap.min.js', type='text/javascript')
    // Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
    script.
      if($.ui.button)
        $.widget.bridge('uibutton', $.ui.button);
    // daterangepicker
    script(src='/plugins/daterangepicker/daterangepicker.js', type='text/javascript')
    // datepicker
    script(src='/plugins/datepicker/bootstrap-datepicker.js', type='text/javascript')
    // iCheck
    script(src='/plugins/iCheck/icheck.min.js', type='text/javascript')
    // Slimscroll
    script(src='/plugins/slimScroll/jquery.slimscroll.min.js', type='text/javascript')
    // FastClick
    script(src='/plugins/fastclick/fastclick.min.js')
    // raphael
    script(src='/plugins/raphael/raphael.min.js')
    //tagsinput
    script(src='/plugins/tagsinput/tagsinput.js')
    script(src='/plugins/wizard/wizard.js')
    script(src='/plugins/autosizeTextarea/autosizeTextarea.js')
    script(src='/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')
    script(src='/plugins/socket.io/socket.io.js')
    block pluginjs
    // AdminLTE App
    script(src='/js/app.min.js', type='text/javascript')
    // AdminLTE for demo purposes
    //- script(src='/js/demo.js', type='text/javascript')
    script(src='http://static.nyouhui.com/dist/template/tpl-ver.221b23f586e18f1a.js')
    script(type="text/javascript",src="//static.nyouhui.com/dist/js/manage/common.min.555a375e978c31de.js")
    block footjs