/********* variables *********/

$fontFamily = "Hiragino Sans GB",PingHei,"Helvetica Neue",Helvetica,Arial,Verdana,"Microsoft Yahei",sans-serif

/********* reset *********/
html,body
  margin:0
body
  -webkit-font-smoothing: antialiased;