mixin manage_ctrl_orderwizard(options)
  - options = options || {};
  .form-group(data-module="manage_ctrl_orderwizard",data-form-control="orderwizard")
    if options.label
      label= options.label
    if options.data
      div 我是结果
    else
      .wizard
        h1 Card 1
        div Some content
        h1 Card 2
        div Some content2