extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="http://" + __global.base.static + "/dist/css/beima/m_signup.992a0d8d3eb82de7.css")

block append headjs
  script(type="text/javascript",src="http://" + __global.base.static + "/dist/js/beima/common.min.31150a8cb97c3094.js")

block append body
  include ../../../../modules/beima_signup_logo/index
  include ../../../../modules/beima_signup_form/index
  include ../../../../modules/beima_bottom_qrcode/index

block append footjs
  script(type="text/javascript",src="http://" + __global.base.static + "/dist/js/beima/m_signup.min.c3d859950b11cb36.js")