extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="http://" + __global.base.static + "/dist/css/beima/m_intro.b79ae8b1bd5d33cf.css")

block append headjs
  script(type="text/javascript",src="http://" + __global.base.static + "/dist/js/beima/common.min.31150a8cb97c3094.js")

block append body
  include ../../../../modules/beima_intro_cover/index
  include ../../../../modules/beima_intro_content/index

block append footjs
  script(type="text/javascript",src="http://" + __global.base.static + "/dist/js/beima/m_intro.min.836cfce3790fa236.js")