mixin manage_input(options)
  .form-group(data-module="manage_input",data-form-control="input")
    if options.label
      label= options.label
    input.form-control(type=(options.type || "text"), placeholder=options.placeholder || '', name=options.name, value=(options.value || ''))