mixin manage_ctrl_editor(options)
  if !__global.__manage_editor_id
    - __global.__manage_editor_id = 1;
  - var editorid = 'editor_' + __global.__manage_editor_id++
  .form-group(data-module="manage_ctrl_editor",data-form-control="editor")
    if options.label
      label= options.label
    if options.editable === 'required'
      span.text-red *
    include ../editor/index
    +editor(options)