extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="/dist/css/manage/api.1804aa0e6b3972c1.css")

block append headjs
  script(type="text/javascript",src="/dist/js/manage/common.min.fe84f4ff647fa31e.js")

block append body
  div 主内容

block append footjs
  script(type="text/javascript",src="/dist/js/manage/api.min.da63fa60dcb7bf65.js")