extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="/dist/css/manage/api.1804aa0e6b3972c1.css")

block append headjs
  script(type="text/javascript",src="/dist/js/manage/common.min.555a375e978c31de.js")

block append body
  div 主内容

block append footjs
  script(type="text/javascript",src="/dist/js/manage/api.min.7ca94be005dab295.js")