extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="/dist/css/manage/api.a0f5d72c158f7b03.css")

block append headjs
  script(type="text/javascript",src="/dist/js/manage/common.min.c5146cb08a77e03c.js")

block append body
  div 主内容

block append footjs
  script(type="text/javascript",src="/dist/js/manage/api.min.7ca94be005dab295.js")