extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="/dist/css/manage/index.1234567890abcdef.css")

block append headjs
  script(type="text/javascript",src="/dist/js/manage/common.min.1234567890abcdef.js")

block append body
  div= '恭喜你登录进来啦：' + email

block append footjs
  script(type="text/javascript",src="/dist/js/manage/index.min.1234567890abcdef.js")