extends ../../layouts/index

block append title

block append meta

block append stylesheet

block append headjs

block append content
  // Main content
  section.content
    form(role="form",data-module="manage_form",data-db=result.db,data-collection=result.collection)
      div
        - var data;
        - var schema = result._data[result.config.schema.db][result.config.schema.collection];
        - var controls = result._data[result.config.control.db][result.config.control.collection];
        if result.data && result.data[result.db]
          - data = result.data[result.db][result.collection];
        if data && data._id
          +manage_ctrl_input({
            name:'_id',
            type:'hidden',
            value:(data ? data._id + '' : '')
          })
        each field in schema.fields
          - var extraControl = controls.filter(function(v){
          -   return v._id.toString() == field.type
          - })[0];
          if extraControl
            - field.base = extraControl.base || extraControl._id;
            - var baseCtrl = controls.filter(function(v){
            -   return v._id == field.base;
            - })
            if baseCtrl && baseCtrl.length > 0
              - field.base = baseCtrl[0].name;
          -var params = {};
          // 都改为label，暂时兼容老的alias，以后要删掉alias
          -params.label = field.label || field.alias;
          -params.name = field.name;
          -params.required = field.required;
          -params.value = data ? data[field.name] : field.defaults
          if extraControl && extraControl.params
            - for(var key in extraControl.params){
            -   params[key] = extraControl.params[key]
            - }
          if field.base === 'tagsinput'
            -params.value = data ? (Array.isArray(data[field.name]) ? data[field.name].join(' ') : data[field.name]) : ''
            +manage_ctrl_tagsinput(params)
          else if field.base === 'wizard'
            -params.data = data;
            //- -params.value = data ? (Array.isArray(data[field.name]) ? data[field.name].join(' ') : data[field.name]) : ''
            +manage_ctrl_wizard(params)
          else if field.base === 'select'
            +manage_ctrl_select(params)
          else if field.base === 'checkbox'
            +manage_ctrl_checkbox(params)
          else if field.base === 'textarea'
            +manage_ctrl_textarea(params)
          else if field.base === 'editor'
            +manage_ctrl_editor(params)
          else if field.base === 'draggableselector'
            +manage_ctrl_draggableselector(params)
          else
            +manage_ctrl_input(params)
      +manage_box({
        title:'表定义'
      })
      .form-group
        button.btn.btn-primary.btn-schema-add(type="submit") 确定
        | 
        a.btn.btn-default.btn-cancel 取消

block append footjs
  script(type="text/javascript",src="//static.nyouhui.com/dist/js/manage/crud.min.073c3b4a6575a1ad.js")