extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="/dist/css/m/m_agreement.c6e0bb4543283621.css")

block append headjs
  script(type="text/javascript",src="/dist/js/m/common.min.2bb43a5687df8216.js")

block append body
  div!= result.content

block append footjs
  script(type="text/javascript",src="/dist/js/m/m_agreement.min.7aa60fb0e512b69a.js")
