extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="/dist/css/m/m_agreement.1234567890abcdef.css")

block append headjs
  script(type="text/javascript",src="/dist/js/m/common.min.1234567890abcdef.js")

block append body
  div!= result.content

block append footjs
  script(type="text/javascript",src="/dist/js/m/m_agreement.min.1234567890abcdef.js")
