extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="/dist/css/api/sign.a0f5d72c158f7b03.css")

block append headjs
  script(type="text/javascript",src="/dist/js/api/common.min.2c7250f0efa5a9cf.js")

block append body
  div 主内容

block append footjs
  script(type="text/javascript",src="/dist/js/api/sign.min.b409e1358374d9f6.js")