extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(href='/plugins/datatables/dataTables.bootstrap.css', rel='stylesheet', type='text/css')

block append headjs

block append content
  // Main content
  section.content
    div
      - var data = result.data[result.db][result.collection];
      +manage_table(data,{
        fields:[{
          name:'db',
          alias:'数据库',
          display:'yes'
        },{
          name:'collection',
          alias:'表名',
          display:'yes'
        }]
      })
      .form-group
        a.btn.btn-primary(href="/schema/create") 新建
    +manage_box()

block append pluginjs
  // DATA TABES SCRIPT
  script(src='/plugins/datatables/jquery.dataTables.js')
  script(src='/plugins/datatables/dataTables.bootstrap.js')

block append footjs
  script(type="text/javascript",src="//static.nyouhui.com/dist/js/manage/schema.min.9e032b3b1fff1f7a.js")