extends ../../layouts/index

block append title

block append meta

block append stylesheet

block append headjs

block append content
  // Main content
  section.content
    form(role="form",data-module="manage_form",data-db=result.db, data-collection=result.collection)
      div
        - var data;
        if result.data
          - data = result.data[result.db][result.collection];
        if data && data._id
          +manage_ctrl_input({
            name:'_id',
            type:'hidden',
            value:(data ? data._id + '' : '')
          })
        +manage_ctrl_input({
          label:'数据库名',
          name:'db',
          value:(data ? data.db : '')
        })
        +manage_ctrl_input({
          label:'表名',
          name:'collection',
          value:(data ? data.collection : '')
        })
        +manage_ctrl_input({
          label:'参数',
          name:'params',
          value:(data ? data.params : '')
        })
      +manage_box({
        title:'表定义'
      })
      p=types
      div
        include ../../../../modules/manage_schema_item/index
      +manage_box({
        title:'字段定义'
      })
      .form-group
        button.btn.btn-primary.btn-schema-add(type="submit") 确定
        | 
        a.btn.btn-default.btn-cancel 取消

block append footjs
  script(type="text/javascript",src="//static.nyouhui.com/dist/js/manage/schema.min.9e032b3b1fff1f7a.js")