.firstre_event_activity
	display:block
.event_box
	text-align: left;
	margin:20px 15px 0;
	font-family:Arial;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	.event_acttit
		font-size: 22px;
		color:#5a5a5a;
		margin-bottom:13px;
		font-weight:normal;
		span
			margin: 0 5px;
	.event_acttime
		color:#878787;
		margin-bottom: 40px;
		font-size: 14px;
		letter-spacing: 0.1em;
		span.date
			margin-left: 14px;
			font-family:$numFontFamily
	.event_con
		font-size: 16px;
		color:#515151;
		margin-bottom:33px;
		line-height: 1.8em;
	.mb33
		margin-bottom: 33px;
