.beima_bottom_qrcode
  img(src="http://qrapi.cli.im/qr?data=hahahahahahahahahahahahahahahahahahahahahahahahahahahahahahahaha&level=H&transparent=false&bgcolor=%23ffffff&forecolor=%23000000&blockpixel=12&marginblock=1&logourl=&size=280&kid=cliim&key=8e08ab3245f6ddcae630f22d04afad9a", width="80", height="80")
  ul
    li 关注“第一反应”公众账号
    li 第一时间掌握活动、培训相关信息