extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="http://" + __global.base.static + "/dist/css/m/m_signup.7b26a480dce8a7b0.css")

block append headjs
  script(type="text/javascript",src="http://" + __global.base.static + "/dist/js/m/common.min.f77f82bec26c08a2.js")
  include ../../../../modules/beima_baidu_tongji/index

block append body
  include ../../../../modules/beima_signup_logo/index
  include ../../../../modules/beima_signup_form/index
  include ../../../../modules/beima_bottom_qrcode/index

block append footjs
  script(type="text/javascript",src="http://" + __global.base.static + "/dist/js/m/m_signup.min.2192723d74837a55.js")