extends ../../layouts/index

block append title

block append meta

block append stylesheet
  link(type="text/css",rel="stylesheet",href="http://" + __global.base.static + "/dist/css/m/m_signup.fcadbefbef39bde8.css")

block append headjs
  script(type="text/javascript",src="http://" + __global.base.static + "/dist/js/m/common.min.65bac6be7af4cb1a.js")

block append body
  include ../../../../modules/beima_signup_logo/index
  include ../../../../modules/beima_signup_form/index
  include ../../../../modules/beima_bottom_qrcode/index

block append footjs
  script(type="text/javascript",src="http://" + __global.base.static + "/dist/js/m/m_signup.min.4fac33247e1ff2a5.js")