@import '../../common'
@import '../../../../modules/beima_signup_logo/index.styl'
@import '../../../../modules/beima_signup_form/index.styl'
@import '../../../../modules/beima_bottom_qrcode/index.styl'
