.kangbao_profile(data-module="kangbao_profile")
  .screen.screen1.hide
    .background(data-scale="width")
    .content
      .hide(data-module="weixin_uploadimg")
      .placeholder
      img
      .show-you-me show you me
      .edit-name
        input(placeholder="点击编辑姓名")
      .edit-no
        input(placeholder="点击输入岗位编号")
      .kangbao KangBao 2015/06/27
  .screen.screen2
    .preview
      .background
        .mask
      .content
        .kangbao-info
        .self-desc 我是王微微，岗位0368
        .bg
        .at-kangbao
        .scroll-up.scroll-up-white
    .text 上传完成，分享我的康宝名片
    .btns
      a.btn.reupload 重新上传
      a.btn.share 分享
    .background.hide
      .share-mask