mixin manage_ctrl_won2yuan(options)
  .form-group(data-module="manage_ctrl_won2yuan",data-form-control="won2yuan")
    if options.label
      label= options.label
    if options.required === 'yes'
      span.text-red *
    div.clearfix
      .col-xs-3(style="padding:0;")
        label
          | 韩元 
          input.form-control(style="display:inline-block;width:80%;", type="number", name=options.name, value=(options.value || ''),required=(options.required === 'yes'))
      .col-xs-3(style="padding:0;padding-left:20px;")
        label
          | 库存 
          input.form-control(style="display:inline-block;width:80%;", type="number", name="stock", value=(options.stock || '0'),required=(options.required === 'yes'))
      .col-xs-3(style="padding:0;line-height: 32px;padding-left:20px;")
        | 总计
        span.yuan(data-rate=options.rate)= (options.yuan || 0)
        | 人民币