mixin manage_ctrl_saishiurl(options)
  .form-group(data-module="manage_ctrl_saishiurl",data-form-control="saishiurl",style="display:" + (options.hidden ? 'none' : ''))
    if options.label
      label= options.label
    if options.editable === 'required'
      span.text-red *
    input.form-control(type="text", name=options.name, value='http://' + __global.base.m + '/m_article/')
